/*------------------------------------------------------*/
/* Common Styles for overall theme
/*------------------------------------------------------*/
body {
  background: #f0f5f7;
}
.home-doctors{
  margin-top: 20vh;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #02ff73;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-weight: 700;
  color: #3a3c41;
}
.btns {
  margin: 5px;
  font: bold 18px Arial;
  padding: 10px 10px;
  border-radius: 5px;
  background-color: #4144e0;
  border: #E04641;
  color: #fff;
}
#popup{
  width: 500px;
}
.btn {
  margin: 5px;
  font: bold 18px Arial;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #E04641;
  border: #E04641;
  color: #fff;
}
.btn:hover{
  color: #fff;
}
.contents{
  justify-content: center;
  align-items: flex-start;
  display: flex;
}
.card{
  border: 1 px;
}

.home-testimonial .flexslider-three .flex-direction-nav .flex-next {
  right: 0% !important;
}
.home-testimonial .flexslider-three .flex-direction-nav .flex-prev {
  left: 0% !important;
}
#popup {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(50, 50, 50, 0.9);
}

#form {
  background-color: #E04641;
  border: 1px solid #ffffff;
  border-radius: 20px;

}
#form label{
  color: #fff;
}
#form a{
  color: #fff;
}
.radiobtn{
  display: flex;
  padding: 0px;
}
.radiobtn label{
  color: #fff;
  padding: 10px;
}





.cont {
  background-color: #e3f2fd;
  border-radius: 2px;
  padding: 20px 50px;
  width: 350px;
  margin: 10px auto 10px auto;
  text-align: left;
  overflow: auto;
}

#add {
  margin: 10px;
}
a {
  outline: 0;
}
a:hover {
    outline: none;
  text-decoration: none;
}
a:focus {
  outline: none;
    text-decoration: none;
}
.home{
  padding-bottom: 20px;
  background-color: #e04641;
}
.best{
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.common-doctor h2{
  color: rgb(32, 1, 1) !important;
}
a:active {
    outline: none;
    text-decoration: none;
}

a:visited {
    outline: none;
    text-decoration: none;
}
button::-moz-focus-inner {
  border: 0;
}

img {
  max-width: 100%;
  height: auto;
}
label {
  color: #3a3c41;
  font-weight: 500;
  font-size: 16px;
}
/* slogan section */
.slogan-section {
  margin-bottom: 50px;
  text-align: center;
}
.slogan-section h2 {
  margin: 0 0 10px;
  font-weight: 400;
}
.text-left {
  text-align: left;
}
.line-section {
  margin-bottom: 20px;
}
.line-section h3,
.line-section h4,
.line-section h5 {
  margin: 0 0 20px;
}
.for-border {
  height: 11px;
  width: 100%;
  background: transparent url(../images/feature-border.png) center center no-repeat;
  border: none;
}

.logo img{
  width: 200px;
  height: 60px;
}
.mt-5{
  margin-top: 10px;
}
h2 {
  font-size: 30px;
}
h2.blue {
  font-weight: 800;
  color: #66c9e0;
}
h2.blue a {
  font-weight: 800;
  color: #66c9e0;
}
h2.blue a:hover {
  color: #65a1b0;
}
h3 {
  font-size: 24px;
  font-weight: 700;
}
h3 a {
  font-size: 24px;
  color: #3a3c41;
  font-weight: 700;
}
h3.blue {
  font-weight: 700;
  color: #66c9e0;
}
h3.blue a {
  font-weight: 800;
  color: #66c9e0;
}
h3.blue a:hover {
  color: #65a1b0;
}
h4 {
  font-size: 21px;
  font-weight: 700;
}
h5 {
  font-size: 18px;
  font-weight: 700;
}
h5 a {
  font-size: 18px;
  font-weight: 700;
  color: #3a3c41;
}
h6 {
  font-size: 14px;
}
p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 24px;
}
.btn {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 10px 15px;
  border-radius: 0;
}
.btn:hover,
.btn:focus {
  color: #136d82;
}

.read-more {
  font-size: 14px;
  font-weight: 700;
  background-color: #E04641;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 1px;
}
.read-more:hover {
  color: #fff;
  background-color: #f15b5a;
  text-decoration: none;
}
.read-more.black {
  background-color: #3a3c41;
}
.read-more.black:hover {
  background-color: #f15b5a;
}
.read-more.red {
  background-color: #f15b5a;
}
.read-more.red:hover {
  background-color: #e15251;
}
.read-more.orange {
  background-color: #ffa13c;
}
.read-more.orange:hover {
  background-color: #e19132;
}
.read-more.yellow {
  background-color: #ffd543;
}
.read-more.yellow:hover {
  background-color: #e1b63f;
}
.read-more.green {
  background-color: #6dc068;
}
.read-more.green:hover {
  background-color: #65b760;
}
.common-style {
  padding: 81px 0;
}
.nothing-found {
  padding: 20px;
  background-color: #fff;
}
.arrow-style {
  padding-left: 0;
  text-align: left;
}
.arrow-style li {
  background: url("../images/list-arrow-style.png") left 3px no-repeat;
  padding-left: 25px;
  line-height: 21px;
  margin-bottom: 30px;
  color: #999ca5;
  list-style: none;
}
.plus-icon:after {
  content: url("../images/plus-red2.png");
  margin-left: 10px;
}

#message-sent {
  clear: both;
}
.gray-scale img:hover {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.gray-scale img {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.isotope-wrapper {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
}
/*------------------------------------------------------*/
/* WordPress Core
/*------------------------------------------------------*/
a img.alignnone,
.alignnone {
  float: none;
}
.aligncenter,
a img.aligncenter,
div.aligncenter {
  display: block;
  margin: 20px auto;
}
a img.alignright,
.alignright {
  float: right;
  margin: 0 0 15px 20px;
}
a img.alignleft,
.alignleft {
  float: left;
  margin: 0 20px 15px 0;
}
p.wp-caption {
  margin: 0;
}
.wp-caption.alignnone {
  float: none;
}
.wp-caption.alignleft {
  float: left;
}
.wp-caption.alignright {
  float: right;
}
.wp-caption p.wp-caption-text {
  margin: 0;
  margin-top: 5px;
  font-weight: 400;
  text-align: center;
  font-size: 11px;
  letter-spacing: 1px;
  color: #7b7d85;
}
blockquote p {
  margin-bottom: 0;
}
.wp-caption-text,
.gallery-caption {
  margin: 0;
  margin-top: 5px;
  font-weight: 400;
  text-align: center;
  font-size: 11px;
  letter-spacing: 1px;
  color: #888;
}
/*------------------------------------------------------*/
/* Similar Page styles
/*------------------------------------------------------*/
.banner {
  width: 100%;
  min-height: 180px;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url('../images/banner.jpg');
  background-size: cover;
}
.page-top {
  padding: 27px 0;
  background: #fff;
}
.page-top h1,
.page-top h2 {
  margin: 0 15px 0 0;
  font-size: 30px;
  font-weight: 400;
  float: left;
  line-height: 46px;
}
.bread-crumb {
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  margin-top: 17px;
}
.bread-crumb .breadcrumb {
  padding: 0;
  background: none;
  border-radius: 0;
  margin: 0;
}
.bread-crumb .breadcrumb li {
  display: block;
  float: left;
}
.bread-crumb .breadcrumb > li + li:before {
  content: "";
  padding: 0;
}
.bread-crumb .breadcrumb li.active {
  color: #f15b5a;
}
.bread-crumb .divider {
  display: inline-block;
  background: url("../images/breadcrumbs-divider.png") center center no-repeat;
  width: 24px;
  height: 10px;
}
.bread-crumb a {
  font-weight: 400;
  color: #3a3c41;
  display: inline-block;
}
.bread-crumb a:hover {
  text-decoration: underline;
}
#search {
  margin-bottom: 0;
}
#search form {
  position: relative;
}

#filters {
  padding: 0;
  border-bottom: 1px solid #dcdee4;
  margin-bottom: 30px;
}
#filters li {
  list-style: none;
  display: inline-block;
  margin: 0 18px -1px 0;
  padding-bottom: 2px;
}
#filters li a {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
  display: inline-block;
  text-decoration: none;
}
#filters li:hover {
  padding-bottom: 0;
  border-bottom: 2px solid #f15b5a;
}
#filters li:hover a {
  padding-bottom: 20px;
}
#filters li.active {
  padding-bottom: 0;
  border-bottom: 2px solid #f15b5a;
}
#filters li.active a {
  padding-bottom: 20px;
}
.pagination {
  display: block;
  text-align: center;
  margin-left: -8px;
}
.pagination a,
.pagination span {
  background-color: #fff;
  font-size: 16px;
  color: #3a3c41;
  display: inline-block;
  margin: 0 0 8px 8px;
  font-weight: 700;
  padding: 10px 20px;
  text-decoration: none;
}
.pagination a:hover,
.pagination span:hover {
  background-color: #66c9e0;
  color: #fff;
}
.pagination span.current {
  background-color: #66c9e0;
  color: #fff;
}
.social-icon ul {
  padding: 0;
}
.social-icon ul li {
  list-style: none;
  background-color: #dcdee4;
  display: inline-block;
}
.social-icon ul li a {
  width: 36px;
  height: 36px;
  display: inline-block;
}
.social-icon ul li .fa {
  font-size: 18px;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 36px;
}
.social-icon ul li:hover {
  background-color: #66c9e0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
code {
  white-space: normal;
}
#scroll-top {
  display: inline;
}


#error-container {
  margin: 0;
}
#error-container label {
  font-size: 14px;
  display: block;
}
/* IE8 Specific Styles */
.ie8 img {
  width: inherit;
  max-width: 100% !important;
  height: auto !important;
}
.ie8 .features-var-three .feature-icon img,
.ie8 .features-var-two .single-feature img,
.ie8 .home-testimonial .flexslider-three .slides img,
.ie8 .appoint-page .appoint-section .top-icon img {
  width: auto !important;
}
.ie8 .overlay {
  visibility: hidden;
}
/*------------------------------------------------------*/
/*  Header styles
/*------------------------------------------------------*/
.header-top {
  background-color: #E04641;
  padding: 11px 0;
}
.header-top p {
  color: #bbbfc9;
}
.header-top p span {
  color: #fefefe;
  white-space: pre;
}
.header-top #inspiry_language_list {
  margin-left: 5px;
  float: right;
}
.header-top #inspiry_language_list ul {
  list-style: none;
  padding: 0;
}
.header-top #inspiry_language_list ul li {
  float: left;
  margin: 0 0 0 10px;
}
.header-top #inspiry_language_list ul li img {
  margin: 0 0 0 0;
  vertical-align: bottom;
}
.header-top #inspiry_language_list ul li span {
  font-size: 12px;
}
.header-top #inspiry_language_list ul li a {
  font-size: 12px;
  color: #bbbfc9;
}
.header-top #inspiry_language_list ul li a:hover {
  color: #fefefe;
}
.nav-toggle {
  display: none;
}
#header {
  padding: 30px 0;
  background: #fff;
}
#header .logo {
  float: left;
}
#header .logo h1 {
  margin: 0;
}
#header .logo h1 a {
  font-size: 30px;
  font-weight: 800;
}
#header .logo img {
  margin-top: 7px;
}
nav.main-menu {
  float: right;
}
nav.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav.main-menu ul > li {
  margin: 0;
  float: left;
  position: relative;
}
nav.main-menu ul > li > a {
  width: 100%;
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  color: #60646d;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
nav.main-menu ul > li ul {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 36px;
  left: 0;
  width: 190px;
  display: none;
  background-color: #E04641;
}
nav.main-menu ul > li ul li {
  list-style: none;
  float: none;
  position: relative;
  border-bottom: 1px solid #E04641;
}
nav.main-menu ul > li ul li a {
  font-size: 14px;
  color: #fff;
  padding: 10px 20px;
}
nav.main-menu ul > li ul li:hover a {
  background-color: #E04641;
}
nav.main-menu ul > li ul li ul {
  position: absolute;
  left: 190px;
  top: 0;
}
nav.main-menu ul > li:hover > a,
nav.main-menu ul > .current-menu-item > a {
  background-color: #E04641;
  color: #fff;
}
/*------------------------------------------------------*/
/* Main Slider styles
/*------------------------------------------------------*/
.home-slider {
  position: relative;
}
.home-testimonial ul li, .home-slider ul li{
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.home-slider .flexslider {
  min-height: 300px;
}
/*------------------------------------------------------*/
/* Footer styles
/*------------------------------------------------------*/
#main-footer {
  background-color: #3a3c41;
  padding: 50px 0 30px 0;
  color: #fff;
  line-height: 24px;
}
#main-footer .widget h3.title {
  margin-bottom: 30px;
  color: #f0f5f7;
  font-size: 18px;
  font-weight: 700;
}
#main-footer .widget p {
  margin-bottom: 25px;
}
#main-footer .widget a {
  color: #b5bac6;
}
#main-footer .widget a:hover {
  color: #cbd1de;
}
#main-footer .widget ul {
  border-color: #4a4c52;
}
#main-footer .widget ul li {
  border-color: #4a4c52;
}
#main-footer .widget .tagcloud a {
  color: #fff;
}
#main-footer .widget label {
  color: #fff;
}


#main-footer .widget .wp-email-capture-widget {
  margin: 20px 0;
}
#main-footer .appoint-widget span {
  border-bottom: 1px solid #4a4c52;
  padding-bottom: 5px;
  margin-bottom: 5px;
  display: block;
}
#main-footer .appoint-widget span:last-child {
  border-bottom: none;
}
#main-footer #wp_email_capture > form > div {
  background: transparent !important;
  color: #e0e0e0;
  margin: 0 0 15px !important;
  width: 100%;
}
#subs_form #subs-error-container{
    margin-top: 10px;
}
#subs_form #subs-error-container label{
    font-size: 14px;
}
#subs_form #subs-response-container{
    margin-top: 10px;
}
/*------------------------------------------------------*/
/* Footer Bottom
/*------------------------------------------------------*/
.footer-bottom {
  margin-top: 60px;
  border-top: 1px solid #4a4c52;
  padding-top: 26px;
}
.footer-bottom p {
  color: #7a7d86;
}
.footer-bottom .footer-social-nav {
  margin: 0;
  padding: 0;
  float: right;
}
.footer-bottom .footer-social-nav li {
  display: inline-block;
  list-style: none;
  margin-left: 10px;
}
.footer-bottom .footer-social-nav li .fa {
  font-size: 18px;
  display: block;
  text-align: center;
  line-height: 20px;
  color: #53565c;
}
.footer-bottom .footer-social-nav li .fa:hover {
  font-size: 20px;
  color: #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-top: -2px;
}
.footer-bottom .footer-social-nav li a {
  width: 20px;
  height: 20px;
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer-bottom .footer-social-nav li a:hover {
  text-decoration: none;
}
/*------------------------------------------------------*/
/* Scroll Top
/*------------------------------------------------------*/




/*------------------------------------------------------*/
/*  WooCommerce Shop - Responsive Styles
/*------------------------------------------------------*/
@media (max-width: 768px) {



}
@media (min-width: 480px) and (max-width: 768px) {
  .slogan-section h2 {
    margin: 6100px 0 10px;
    font-weight: 400;
}

}
@media (max-width: 320px) {
  #heightBoot{
    margin-top: 90vh;
  }

}
@media (max-width: 479px) {
  #bannerHeader{
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 450px; */
  }
  #form {
    background-color: #d42c2c;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;

}
.slogan-section h2 {
  margin: 610px 0 10px;
  font-weight: 400;
}
#tab-reviews{
  display: none;
}
#appointment_form_one .row{
  margin: 0;
}

#main-footer .widget p.tweet{
  margin-bottom: 0;
}
.call{
  font-size: 15px; font-weight: bold;
}
#heightBoot{
  margin-top: 100vh;
}
}
